body {
	background-color : #CCCCFF
}

header {
	margin : auto;
	background-color : #0000FF;
	width : 1024px;
	height : 100px;
	vertical-align : middle;
}

header h1 {
	text-align : center;	
	color : #CCCCFF;
	padding-top : 20px;
}

ul#cursos {
	margin-left : auto;
	margin-right : auto;
	padding : 0;
	list-style : none;
	width : 1024px;
}

ul#cursos li {
	display : inline-block;
	width : 507px;
	margin : 0 0 15px 0;
	padding : 0;
	text-align : center;
	border : solid 1px #0000FF;
}

ul#cursos li h3 {
	margin : 0;
	background-color : #0000FF;
	color : #CCCCFF;
}

footer {
	position : absolute;
	bottom : 0;
	width : auto;
	color : #0000FF;
}
